/**
那年今日
*/

#aside-content .card-history .swiper-wrapper {
    flex-direction: column
}

#aside-content .card-history .item-headline {
    margin-left: 16px !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

#aside-content .card-history .history_slide {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(16px + 0.4rem) !important;
    width: calc(100% - 2 * (16px + 0.4rem));
    box-sizing: border-box;
}

#aside-content .card-history .history_slide_time {
    color: var(--ba-secondtext);
    font-size: 12px;
    font-style: italic;
    font-weight: lighter
}

#aside-content .card-history .history_slide_link {
    line-height: 1.5;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-size: 13px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    text-overflow: ellipsis;
}

#aside-content .card-history .history_slide_link a {
    color: var(--ba-main);
    padding: 0 4px;
    border-radius: 4px
}

#aside-content .card-history .history_slide_link a:hover {
    color: var(--ba-white);
    background: var(--ba-main)
}