/**
那年今日
*/

#aside-content .card-history .swiper-wrapper {
    flex-direction: column
}

#aside-content .card-history .item-headline {
    margin-left: 10px !important;
}

#aside-content .card-history .history_slide {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px !important;
}

#aside-content .card-history .history_slide_time {
    color: var(--ba-secondtext);
    font-size: 12px;
    font-style: italic;
    font-weight: lighter
}

#aside-content .card-history .history_slide_link {
    line-height: 1.5;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-size: 13px;
}

#aside-content .card-history .history_slide_link a {
    color: var(--ba-main);
    padding: 0 4px;
    border-radius: 4px
}

#aside-content .card-history .history_slide_link a:hover {
    color: var(--ba-white);
    background: var(--ba-main)
}